//
   Created by huangyao on 14-9-15.


doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://libs.baidu.com/jquery/1.9.0/jquery.js")
        script(src="/javascripts/bootstrap.js")
        script(src='/javascripts/site.js')

    body

        .container
            .item
                img.pull-left(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' height='84px' width='84px')
                .content.pull-left
                    p.title title
                    p.conductor @backspace
                    p.introduce 九月我不撸，坚持你就有用不完
        .debug
        .blank

        .action

        .userpanel