body {
      padding: 0px;
      margin: 0px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #e5e5e5;
}

a {
  color: #00B7FF;
}

.item{
    height: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #ffffff;
    padding: 10px 8px 10px 8px;
}

.content{
    margin-left: 20px;
}
.content p{
    margin-bottom: 0px;
}
.title{
    font-size: 20px;
}

.conductor{
    font-size: 10px;
    margin-top: 0px;
    color: #e0e0e0;
}
.introduce{
    margin-top: 5px;
}

.end{
    height: 100px;
    background: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loading{
    height: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #ffffff;
    text-align: center;
    padding: 10px 8px 10px 8px;
}


.blank{
    height: 20px;
}

.action{
    position: fixed;
    right: 20px;
    bottom:20px;
    width: 50px;
    height: 50px;
    background: #4285f4;
    border-radius: 50%;
    box-shadow:  0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
}


.userpanel{
    position: fixed;
    width: 55%;
    height: 100%;
    left:-55%;
    top:0px;
    background: #ffffff;
}